html,
body {
  color:yellow;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #0d1019;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #0d1019 0%, #161b29 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #0d1019 0%, #161b29 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #0d1019 0%, #161b29 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0d1019', endColorstr='#161b29', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
    
   
    button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    background: #034d85;
    padding: 1.1rem 3.4rem;
    border-radius: .2rem;
    transition: opacity .2s;
    }
    
    button:hover {
    cursor: pointer;
    background: #053056;
    }

    