<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='success.css') }}">
    <style>
        .container {
            text-align: center;
        }

        .audio-controls {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <textarea id="formatted-text" class="text-box neon-text" rows="10" cols="50">
            {{ passed_data }}
        </textarea>

    </div>

    <div class="container audio-controls">
        <audio id="audioPlayer" src="{{ url_for('static', filename='script.wav') }}" controls></audio>
        <button onclick="playAudio()" class="neon-text">Play Audio</button>
    </div>

    <script>
        function playAudio() {
            var audio = document.getElementById('audioPlayer');
            audio.play();
        }
    </script>
</body>

</html>
